<h2>Ninja Lisitng </h2>



<form id ="filter">

    <label> Filter ninjas by name: </label>
     <input type="text"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="term" />

</form>

<ul id ="ninja-listing">

    <li *ngFor = "let ninja of ninjas | filter:term">
        <div class = "single-ninja">

            <span [ngStyle]= "{background: ninja.belt}">{{ninja.belt}} belt</span>

            <h3>{{ninja.name }}</h3>
            <!--<div (click)="remove ($event)"[attr.data-name] = "ninja.name.">delete</div>-->
        </div>
    </li>
</ul>





<p>
 hello  directory works!!!!!!!!
</p>

<form id="add-ninja">

    <input type="text" [(ngModel)]="name"   [ngModelOptions]="{standalone: true}"/>
    <input type="text" [(ngModel)]="belt"   [ngModelOptions]="{standalone: true}"/>
    <button (click) = "postData(name, belt)">Add ninja</button>
</form>


<!--<button (click) ="logIt()">click</button>-->





